<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.noocsharp.pianolockscreen">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.noocsharp.pianolockscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PianoPreferencesActivity" />
        <activity android:name=".EditPasscode" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <action android:name="com.noocsharp.pianolockscreen.EditPasscode"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="com.noocsharp.pianolockscreen.LockScreenService">
        </service>

        <receiver android:name="com.noocsharp.pianolockscreen.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
